header.page-header.container
	a(href="#").page-header__logo
	.page-header__pin г. Тольятти
	.page-header__forsaler
		a(href="#").btn Заказчикам
	.page-header__text Грузопервозки по<br>всей России
	.page-header__fordriver
		a(href="#").btn Перевозчикам
	.page-header__support Тех.поддержка:
		span.page-header__phone 8 800 123 456