header.page-header.container
	a(href="#").page-header__logo
	.page-header__pin г. Тольятти
	.page-header__forsaler
		a(href="#").btn Заказчикам
	.page-header__text Грузопервозки по<br>всей России
	.page-header__fordriver
		a(href="#").btn Перевозчикам
	.page-header__support Тех.поддержка:
		span.page-header__phone 8 800 123 456

menu.menu
	ul.container.menu__list
		li.menu__dropdown
			a(href="#") О проекте
			ul
				li
					a(href="#") Подменю 1
				li
					a(href="#") Подменю 2
				li
					a(href="#") Подменю 3
				li
					a(href="#") Подменю 4
				li
					a(href="#") Подменю 5
				li
					a(href="#") Подменю 6
		li
			a(href="#") Как это работает?
		li
			a(href="#") Найти исполнителя
		li
			a(href="#") Заявки
		li
			a(href="#") Информация
		li
			a(href="#") Контакты