footer.page-footer
	.page-footer__wrapper.container
		.page-footer__contacts
			.page-footer__contacts-pin
			.page-footer__contacts-text Челябинская область, б/о «Аспро Resort»
			a(href="#").btn Схема проезда

		ul.page-footer__menu
			li
				a(href="") Меню 1
			li
				a(href="") Меню 2
			li
				a(href="") Меню 3
		ul.page-footer__menu
			li
				a(href="") Меню 1
			li
				a(href="") Меню 2
			li
				a(href="") Меню 3
		ul.page-footer__menu
			li
				a(href="") Меню 1
			li
				a(href="") Меню 2
			li
				a(href="") Меню 3

		.page-footer__socials
			.page-footer__socials-text Мы в соцсетях:
			.page-footer__socials-list
				a(href="#").page-footer__socials-item.page-footer__socials-item--tw
				a(href="#").page-footer__socials-item.page-footer__socials-item--fb
				a(href="#").page-footer__socials-item.page-footer__socials-item--vk
				a(href="#").page-footer__socials-item.page-footer__socials-item--yt
				a(href="#").page-footer__socials-item.page-footer__socials-item--ok
				a(href="#").page-footer__socials-item.page-footer__socials-item--gp

		.page-footer__copyright &copy; 2016 Все права защищены.