@s-black-arrow-right: 281px 51px -281px -51px 7px 13px 293px 210px url('../img/sprite.png');
@s-calendar: 130px 109px -130px -109px 28px 31px 293px 210px url('../img/sprite.png');
@s-car: 0px 109px 0px -109px 65px 65px 293px 210px url('../img/sprite.png');
@s-check: 223px 51px -223px -51px 57px 50px 293px 210px url('../img/sprite.png');
@s-clock: 0px 0px 0px 0px 108px 108px 293px 210px url('../img/sprite.png');
@s-delivery-time: 66px 109px -66px -109px 63px 61px 293px 210px url('../img/sprite.png');
@s-finger-up: 166px 51px -166px -51px 56px 56px 293px 210px url('../img/sprite.png');
@s-fly: 109px 51px -109px -51px 56px 56px 293px 210px url('../img/sprite.png');
@s-logo: 109px 0px -109px 0px 184px 50px 293px 210px url('../img/sprite.png');
@s-news-arrow-left: 0px 175px 0px -175px 20px 35px 293px 210px url('../img/sprite.png');
@s-news-arrow-right: 21px 175px -21px -175px 20px 35px 293px 210px url('../img/sprite.png');
@s-phone: 159px 109px -159px -109px 29px 29px 293px 210px url('../img/sprite.png');
@s-pin: 189px 109px -189px -109px 19px 28px 293px 210px url('../img/sprite.png');
@s-submenu-arrow: 281px 65px -281px -65px 11px 6px 293px 210px url('../img/sprite.png');
