extends templates/_layout

block vars
	- var page = "index";
	- var title = "Главная";

block styles
	link(rel="stylesheet", href="css/#{page}-style.min.css")

block content

	.promo
		.promo__text
			.promo__text-wrapper
				.promo__text-dots
					.promo__text-dot
					.promo__text-dot
					.promo__text-dot
				.promo__text-slogan Экономим ваше время
					span на поиск нужного груза или исполнителя
				.promo__text-clock
		.promo__slider.js-promo-slider.owl-carousel
			.promo__slider-item(style="background-image: url('img/slider/slide1.jpg')")
			.promo__slider-item(style="background-image: url('img/slider/slide2.jpg')")
			.promo__slider-item(style="background-image: url('img/slider/slide3.jpg')")

	.separator

	.features
		.container
			.features__blocks
				.features__block
					.features__block-wrapper
						.features__block-img.features__block-img--stroi
						a(href="#").features__block-link
						a(href="#").btn.btn--square.btn--nothover Стройматериалы
						.features__block-text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
				.features__block
					.features__block-wrapper
						.features__block-img.features__block-img--gruz
						a(href="#").features__block-link
						a(href="#").btn.btn--square.btn--nothover Грузоперевозки
						.features__block-text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
				.features__block
					.features__block-wrapper
						.features__block-img.features__block-img--specteck
						a(href="#").features__block-link
						a(href="#").btn.btn--square.btn--nothover Спецтехника
						.features__block-text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
			.features__steps
				a(href="#").features__step.features__step--fly Отправляете<br>заявку
				a(href="#").features__step.features__step--delivery-time Сервис подбирает<br>исполнителя
				a(href="#").features__step.features__step--check Вы определяетесь<br>с подходящим<br>исполнителем
				a(href="#").features__step.features__step--fingerup Потверждаете<br>заявку
				a(href="#").features__step.features__step--car Ждете свой груз!

	.separator

block scripts
	script(src='js/#{page}-script.min.js' defer)