extends templates/_layout

block vars
	- var page = "index";
	- var title = "Главная";

block styles
	link(rel="stylesheet", href="css/#{page}-style.min.css")

block content

	.promo
		.promo__text
			.promo__text-wrapper
				.promo__text-dots
					.promo__text-dot
					.promo__text-dot
					.promo__text-dot
				.promo__text-slogan Экономим ваше время
					span на поиск нужного груза или исполнителя
				.promo__text-clock
		.promo__slider.js-promo-slider.owl-carousel
			.promo__slider-item(style="background-image: url('img/slider/slider1.jpg')")
			.promo__slider-item(style="background-image: url('img/slider/slider2.jpg')")

	.separator

	.features
		.container
			.features__blocks
				.features__block
					.features__block-wrapper
						.features__block-img.features__block-img--stroi
						a(href="#").features__block-link
						a(href="#").btn.btn--square.btn--nothover Стройматериалы
						.features__block-text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
				.features__block
					.features__block-wrapper
						.features__block-img.features__block-img--gruz
						a(href="#").features__block-link
						a(href="#").btn.btn--square.btn--nothover Грузоперевозки
						.features__block-text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
				.features__block
					.features__block-wrapper
						.features__block-img.features__block-img--specteck
						a(href="#").features__block-link
						a(href="#").btn.btn--square.btn--nothover Спецтехника
						.features__block-text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
			.features__steps
				a(href="#").features__step.features__step--fly Отправляете<br>заявку
				a(href="#").features__step.features__step--delivery-time Сервис подбирает<br>исполнителя
				a(href="#").features__step.features__step--check Вы определяетесь<br>с подходящим<br>исполнителем
				a(href="#").features__step.features__step--fingerup Потверждаете<br>заявку
				a(href="#").features__step.features__step--car Ждете свой груз!

	.separator

	.feedback
		.feedback__wrapper.container
			h2 Оставить заявку
			form.feedback__form.clearfix
				.row
					.col-xs-3.feedback__form-field
						label(for="feedback-from") Откуда:
						select#feedback-from
							option Москва
							option Санкт-Петербург
							option Сызрань
					.col-xs-3.feedback__form-field
						label(for="feedback-to") Куда:
						select#feedback-to
							option Москва
							option Санкт-Петербург
							option Сызрань
					.col-xs-3.feedback__form-field
						label(for="feedback-name") Название заявки:
						input(type="text")#feedback-name
					.col-xs-3.feedback__form-field.feedback__form-submit
						button(type="submit").btn Далее
				.row
					.col-xs-3.feedback__form-field
						label(for="feedback-distance") Расстояние:
						input(type="number")#feedback-distance
					.col-xs-3.feedback__form-field.js-datepicker
						label(for="feedback-date") Выберете дату:
						input(type="text")#feedback-date.feedback__form-input-datepicker
						span.feedback__form-datepicker
					.col-xs-3.feedback__form-field
						label(for="feedback-price-range") Укажите диапазон цены:
						input(type="text"  value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]")#feedback-price-range.js-feedback-range
					.col-xs-3.feedback__form-field
					.col-xs-3

	.separator

	.services
		h2.title--bottom-line.title--center Также, к вашим услугам:
		.services__wrapper.container
			.services__items
				.services__item
					.services__item-img
						img(src="img/bricks.jpg", alt="")
					h3.services__item-title Кирпич
					.services__item-text Самым распространенным кирпичом является общеизвестный красный или керамический кирпич, который получают путем обжига глин и их смесей.
				.services__item
					.services__item-img
						img(src="img/rocks.jpg", alt="")
					h3.services__item-title Камень
					.services__item-text Наша компания предлагает керамзитобетонные и д оломитовые блоки.
				.services__item
					.services__item-img
						img(src="img/sands.jpg", alt="")
					h3.services__item-title Песок
					.services__item-text Наша компания продает строительный песок (речной)
				.services__item
					.services__item-img
						img(src="img/woodblock.jpg", alt="")
					h3.services__item-title Пиломатериалы
					.services__item-text Предлагаем пиломатериалы – большой выбор со склада. Мы готовы ривезти в любую точку мира
				.services__item
					.services__item-img
						img(src="img/beton.jpg", alt="")
					h3.services__item-title Бетон
					.services__item-text Благодаря обширному опыту работы, мы гарантируем своим клиентам качество поставляемой продукции.
				.services__item
					.services__item-img
						img(src="img/armature.jpg", alt="")
					h3.services__item-title Арматура
					.services__item-text Вся продукция сертифицирована. Соответствует ГОСТ 31938-2012.
				.services__item
					.services__item-img
						img(src="img/porebrick.jpg", alt="")
					h3.services__item-title Бордюры
					.services__item-text Повышенная прочность обеспечивается за счет применения новейших технологий и добавок.
				.services__item
					.services__item-img
						img(src="img/bricksway.jpg", alt="")
					h3.services__item-title Брусчатка
					.services__item-text Продукция отличается качеством изделий, точностью форм, а также экологичностью используемых материалов.

		.services__show-more
			a(href="#") Показать еще

	.about.js-about.container
		h2 О проекте
		.about__img
			img(src="img/aboutimg.jpg", alt="")
		.about__text Мы делаем рынок грузоперевозок прозрачным и эффективным.<br>Мы помогаем нашим пользователям перевезти любой груз с надежным исполнителем и по объективной цене. Наша команда верит, что рынок грузоперевозок должен опираться на открытую и честную конкуренцию, высокое качество сервиса и доступность для каждого пользователя.
		.about__counts
			.about__count
				.about__count-number#js-counter-orders 1128
				.about__count-text Заявок выполнено
			.about__count
				.about__count-number#js-counter-reg 180
				.about__count-text Зарегистрированных исполнителей
			.about__count
				.about__count-number#js-counter-dir 1
				.about__count-text Прекрасный директор
			.about__count
				.about__count-number#js-counter-distance 23
				.about__count-text Миллиона километра проехано

	.news.container
		h2 Новости
		.news__wrapper
			.news__left.js-news-left
			.news__right.js-news-right
			.news__items.owl-carousel.js-news
				a.news__item(href="#")
					div.news__item-img
						img(src="img/pics/news1.jpg", alt="")
					div.news__item-date 6 мая 2016
					div.news__item-text Трасса М5-Урал стала платной...
				a.news__item(href="#")
					div.news__item-img
						img(src="img/pics/news2.jpg", alt="")
					div.news__item-date 6 мая 2016
					div.news__item-text Переезды подоражали, в восточном округе...
				a.news__item(href="#")
					div.news__item-img
						img(src="img/pics/news3.jpg", alt="")
					div.news__item-date 6 мая 2016
					div.news__item-text У нас зарегистрировалось 125 активных партнеров...
				a.news__item(href="#")
					div.news__item-img
						img(src="img/pics/news1.jpg", alt="")
					div.news__item-date 6 мая 2016
					div.news__item-text Трасса М5-Урал стала платной...2
				a.news__item(href="#")
					div.news__item-img
						img(src="img/pics/news2.jpg", alt="")
					div.news__item-date 6 мая 2016
					div.news__item-text Переезды подоражали, в восточном округе...2
				a.news__item(href="#")
					div.news__item-img
						img(src="img/pics/news3.jpg", alt="")
					div.news__item-date 6 мая 2016
					div.news__item-text У нас зарегистрировалось 125 активных партнеров...2

block scripts
	script(src='js/#{page}-script.min.js' defer)