extends templates/_layout

block vars
	- var page = "index";
	- var title = "Главная";

block styles
	link(rel="stylesheet", href="css/#{page}-style.min.css")

block content

block scripts
	script(src='js/vendor/countUp.min.js' defer)
	script(src='js/custom/#{page}-script.min.js' defer)